<html>
    <body>
        <center>
        <h1>The server Operating System : {{ ansible_distribution }} </h1>
        <br>
        <h1>The server Hostnamen : {{ ansible_hostname }}  </h1>
        <br>
        <h1>The server usernamen : {{ myusername }}  </h1>
    </center>      
    </body>
</html>